<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="commonNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/computer.png" alt="" width="30" height="30">
        Chang Land</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/weather">날씨</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts">게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chatting">채팅</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" id="btn-logout" type="button">로그아웃</button>
        </form>
    </div>
</nav>

<script th:fragment="commonNavbarScript" src="/js/app/common-navbar.js"></script>
</html>
