<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|Chang Land : ${detailedPost.getTitle()}|"></title>
    <head th:include="fragments/common.header :: commonHeader"></head>
</head>
<body>

<!--상단 네비게이션 바-->
<nav th:replace="fragments/common.navbar :: commonNavbar"></nav>

<!--게시물 상세보기 폼-->
<div class="container mt-5">
    <h1>게시물 상세보기</h1>
    <form class="mt-5">
        <div class="form-group">
            <label for="post-number">글번호</label>
            <input type="text" th:value="${detailedPost.getPost_number()}" class="form-control" id="post-number" disabled>
        </div>
        <div class="form-group">
            <label for="post-title">제목</label>
            <input type="text" th:value="${detailedPost.getTitle()}" class="form-control" id="post-title" disabled>
        </div>
        <div class="form-group">
            <label for="post-content">내용</label>
            <textarea th:text="${detailedPost.getContent()}" id="post-content" class="form-control" rows="15" disabled></textarea>
        </div>
        <div class="form-group">
            <label for="post-writer">작성자</label>
            <input type="text" th:value="${detailedPost.getId()}" class="form-control" id="post-writer" disabled>
        </div>
        <div class="form-group">
            <label for="post-lastmodified">최근수정일자</label>
            <input type="text" th:value="${detailedPost.getModified_date()}" class="form-control" id="post-lastmodified" disabled>
        </div>
        <button th:if="${myPost}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModifyModal" data-whatever="post-modify">게시글 수정</button>
        <button th:if="${myPost}" type="button" class="btn btn-danger" id="btn-delete-post">게시글 삭제</button>
    </form>
</div>


<!--게시글 수정을 위한 모달-->
<div th:if="${myPost}" class="modal fade" id="postModifyModal" tabindex="-1" role="dialog" aria-labelledby="postModifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModifyModalLabel">게시글 수정</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="post-modify-title" class="col-form-label">제목</label>
                        <input th:value="${detailedPost.getTitle()}" type="text" class="form-control" id="post-modify-title" maxlength="100" autocomplete="on" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="post-modify-content" class="col-form-label">내용</label>
                        <textarea th:text="${detailedPost.getContent()}" class="form-control" id="post-modify-content" autocomplete="off" autofocus></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn-modify-post">등록</button>
            </div>
        </div>
    </div>
</div>


<!--부트스트랩 js, popper, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--공통 네비게이션 바에 대한 script 추가-->
<script th:replace="fragments/common.navbar :: commonNavbarScript"></script>
<!--detail.post.js(custom js) 추가-->
<script src="/js/app/detail.post.js"></script>

</body>
</html>