<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chang Land</title>
    <head th:include="fragments/common.header :: commonHeader"></head>

    <!--Custom style-->
    <link rel="stylesheet" href="/css/app/main.css">
</head>
<body class="text-center">
    <form class="form-signin" method="post" action="/login">
        <img src="/img/computer.png" alt="" width="70" height="70">
        <h1 class="h3 mb-3 font-weight-normal">로그인</h1>
        <input type="text" id="inputId" class="form-control" name="id" placeholder="아이디" autofocus autocomplete="on">
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="비밀번호" autofocus autocomplete="off">
        <div th:text="${login_message}" class="text-danger"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-login">로그인</button>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="btn-signup" >회원가입</button>
        <p class="mt-5 mb-3 text-muted">changhee kim</p>
    </form>


    <!--부트스트랩 js, popper, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>s
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--main.js(custom js) 추가-->
    <script src="/js/app/main.js"></script>
</body>
</html>