<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chang Land : 게시판</title>
    <head th:include="fragments/common-header.html :: commonHeader"></head>
</head>
<body>

<!--상단 네비게이션 바-->
<nav th:replace="fragments/common-navbar.html :: commonNavbar"></nav>


<!--부트스트랩 js, popper, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--공통 네비게이션 바에 대한 script 추가-->
<script th:replace="fragments/common-navbar.html :: commonNavbarScript"></script>

</body>
</html>