<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chang Land : 게시판</title>
    <head th:include="fragments/common-header.html :: commonHeader"></head>
</head>
<body>

<!--상단 네비게이션 바-->
<nav th:replace="fragments/common-navbar.html :: commonNavbar"></nav>


<!--부트스트랩 js, popper, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<div class="container mt-5">
    <h1>게시판</h1>
<table class="table table-bordered mt-5">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">글쓴이</th>
        <th scope="col">제목</th>
        <th scope="col">최근수정일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${post_list}">
        <th scope="row" th:text="${post.getPost_number()}"></th>
        <td th:text="${post.getId()}"></td>
        <td th:text="${post.getTitle()}"></td>
        <td th:text="${post.getModified_date()}"></td>
    </tr>
    </tbody>
</table>
    <button type="button" class="btn btn-primary" id="btn-post">글쓰기</button>
</div>

<!--공통 네비게이션 바에 대한 script 추가-->
<script th:replace="fragments/common-navbar.html :: commonNavbarScript"></script>

</body>
</html>