<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chang Land : 회원가입</title>
    <meta http-equiv="content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--부트스트랩 css추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css"/>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body>

<!--상단 네비게이션 바-->
<nav th:replace="fragments/common-navbar.html :: commonNavbar"></nav>

<!--회원가입 폼-->
<div class="container mt-5">
<form>
    <div class="form-group">
        <label for="inputId">아이디</label>
        <input type="text" class="form-control" id="inputId" aria-describedby="inputIdHelp" placeholder="아이디" autocomplete="on" required autofocus>
        <small id="inputIdHelp" class="form-text text-muted">아이디는 필수 입력사항 입니다.</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">비밀번호</label>
        <input type="password" class="form-control" id="inputPassword" aria-describedby="inputPasswordHelp" placeholder="비밀번호" autocomplete="off" required autofocus>
        <small id="inputPasswordHelp" class="form-text text-muted">비밀번호는 필수 입력사항 입니다.</small>
    </div>
    <div class="form-group">
        <label for="inputName">성명</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="inputNameHelp" placeholder="성명" autocomplete="on" required autofocus>
        <small id="inputNameHelp" class="form-text text-muted">성명은 필수 입력사항 입니다.</small>
    </div>
    <div class="form-group">
        <label for="inputTel">연락처</label>
        <input type="tel" class="form-control" id="inputTel" aria-describedby="inputTelHelp" placeholder="연락처" autocomplete="on" required autofocus>
        <small id="inputTelHelp" class="form-text text-muted">연락처는 필수 입력사항 입니다.</small>
    </div>

    <button type="submit" class="btn btn-primary" id="btn-signup">가입</button>
</form>
</div>



<!--부트스트랩 js, popper, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!--signup.js(custom js) 추가-->
<script src="/js/app/signup.js"></script>
<!--공통 네비게이션 바에 대한 script 추가-->
<script th:replace="fragments/common-navbar.html :: commonNavbarScript"></script>

</body>
</html>